# Dependencias de Node
node_modules/
package-lock.json

# Carpetas intermedias y temporales de compilación
dist/linux-unpacked/
dist/win-unpacked/
dist/__appImage*
dist/builder-*.yml
dist/builder-*.yaml
build/

# Archivos de depuración y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archivos de entorno y configuración local
.env
.env.local
.DS_Store
Thumbs.db

# Directorios de editores e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporales de Electron / Chromium
.cache/
